# Last.fm integration (used at build time to fetch your top album of the week)
# Get an API key at: https://www.last.fm/api/account/create
LASTFM_API_KEY=your_lastfm_api_key_here
LASTFM_USERNAME=your_lastfm_username_here
